

a.activemaincategory, .activesubcategory,.activeservicemaincategory, .activeservicesubcategory {
   /* text-decoration: none;
    color: #fff;
    background: #03989e;*/
    background-color: transparent !important; color: #000 !important; font-weight: 600 !important;
}
.activemainmenu {
    background-color: transparent !important; color: #000 !important; font-weight: 600 !important;
}
.activesubmenu{
    background-color: transparent !important; color: #000 !important; font-weight: 600 !important;
}
.activemaincategory a,.activeservicemaincategory a{
    text-decoration: none;
    color: #fff 
}
.activesubcategories,.activeservicesubcategories {
	border-bottom: 0px !important;
}


.subcategories_list, .service_subcategories_list {
	border-bottom: 1px solid gray;
	margin-left: 25px;
	background: none !important;
}
.subcategories_list li a:hover,.service_subcategories_list li a:hover {
	
	background-color: transparent !important;
	color: #717171 !important
}
.subcategories_list li:hover,.service_subcategories_list li:hover {
	
	background-color: transparent !important;
	color: #717171 !important
}
.invalid-feedback {
	color:red;
}
.subscribe-packages{
	border-radius: 10px;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*START : Price Slider*/
.slider-horizontal > .bs-tooltip-top
{
  opacity: 1 !important;
  z-index: 1000 !important;
}
.slider .tooltip.bs-tooltip-top
{
  margin-top: -30px !important;
}
/*END : Price Slider*/

/*START : Product Details */
.show-custom {
	width: 400px;
	height: 400px;
	margin-left: 70px;
  }
  
  .small-img {
	/* width: 350px;
	height: 70px;
	margin-top: 10px;
	position: relative;
	left: 25px; */
  }
  
  .small-img .icon-left, .small-img .icon-right {
	width: 12px;
	height: 24px;
	cursor: pointer;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
  }
  
  .small-img .icon-left { transform: rotate(180deg) }
  
  .small-img .icon-right { right: 0; }
  
  .small-img .icon-left:hover, .small-img .icon-right:hover { opacity: .5; }
  
  .small-container {
	
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
  }
  
  .small-container div {
	width: 800%;
	position: relative;
  }
  
  .small-container .show-small-img {
    width: 70px;
    height: 70px;
    margin-right: 6px;
    cursor: pointer;
    /* float: left; */
    display: block;margin: 5px 0;
  }
  
  .small-container .show-small-img:last-of-type { margin-right: 0; }
  
  .btn span.glyphicon {    			
	  opacity: 0;				
  }
  .btn.active span.glyphicon {				
	  opacity: 1;				
  }
  
  
  .funkyradio div {
	clear: both;
	overflow: hidden;
  }
  
  .funkyradio label {
	width: 100%;
	border-radius: 3px;
	border: 1px solid #D1D3D4;
	font-weight: normal;
  }
  
  .funkyradio input[type="radio"]:empty,
  .funkyradio input[type="checkbox"]:empty {
	display: none;
  }
  
  .funkyradio input[type="radio"]:empty ~ label,
  .funkyradio input[type="checkbox"]:empty ~ label {
	position: relative;
	line-height: 2.5em;
	text-indent: 3.25em;
	/*margin-top: 2em;*/
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
  }
  
  .funkyradio input[type="radio"]:empty ~ label:before,
  .funkyradio input[type="checkbox"]:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
  }
  
  .funkyradio input[type="radio"]:hover:not(:checked) ~ label,
  .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
	color: #888;
  }
  
  .funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
  .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
	content: '\2714';
	text-indent: .9em;
	color: #C2C2C2;
  }
  
  .funkyradio input[type="radio"]:checked ~ label,
  .funkyradio input[type="checkbox"]:checked ~ label {
	color: #777;
  }
  
  .funkyradio input[type="radio"]:checked ~ label:before,
  .funkyradio input[type="checkbox"]:checked ~ label:before {
	content: '\2714';
	text-indent: .9em;
	color: #333;
	background-color: #ccc;
  }
  
  .funkyradio input[type="radio"]:focus ~ label:before,
  .funkyradio input[type="checkbox"]:focus ~ label:before {
	box-shadow: 0 0 0 3px #999;
  }
  
  .funkyradio-default input[type="radio"]:checked ~ label:before,
  .funkyradio-default input[type="checkbox"]:checked ~ label:before {
	color: #333;
	background-color: #ccc;
  }
  
  .funkyradio-primary input[type="radio"]:checked ~ label:before,
  .funkyradio-primary input[type="checkbox"]:checked ~ label:before {
	color: #fff;
	background-color: #337ab7;
  }
  
  .funkyradio-success input[type="radio"]:checked ~ label:before,
  .funkyradio-success input[type="checkbox"]:checked ~ label:before {
	color: #fff;
	background-color: #5cb85c;
  }
  
  .funkyradio-danger input[type="radio"]:checked ~ label:before,
  .funkyradio-danger input[type="checkbox"]:checked ~ label:before {
	color: #fff;
	background-color: #d9534f;
  }
  
  .funkyradio-warning input[type="radio"]:checked ~ label:before,
  .funkyradio-warning input[type="checkbox"]:checked ~ label:before {
	color: #fff;
	background-color: #f0ad4e;
  }
  
  .funkyradio-info input[type="radio"]:checked ~ label:before,
  .funkyradio-info input[type="checkbox"]:checked ~ label:before {
	color: #fff;
	background-color: #5bc0de;
  }
/* 
  .product_details_section
  {
	  padding-top:100px !important;
  } */

 


  @media screen and (max-width: 991px) {
	.product_details_section {
	  /* Apply some styles */
	  padding-top:140px !important;
	}
  }


/*END : Product Details */


/*tijara design fixes by developer */
.product_data {
  height: 335px;
}
.product_img {
  min-height: 200px !important;
  height: 200px;
}

.product_img img {
  width: 100%;
  object-fit: none;
}
.slider_content h2 {
  line-height: 49px !important;
  padding-left: 10% !important;
}

.slider_content
{
  top: 60px !important;
}
.nav > li {
  width: 14% !important;
  font-size: 13px;
}
.featured_seller_section img.img-fluid {
  object-fit: cover !important;
}
.featured_seller_section {
  height: 250px !important;
  padding: 0px !important;
}
.buy_now_hover_details li {
  top: -45px !important;
}
.top_login h3 {
  margin: 1px 0 !important;
}
@media only screen and (max-width: 500px) {
  .tijara_front_box li {
    width:100%;
  }
}
@media only screen and (min-width: 501px) {
  .tijara_front_box li {
    width:46%;
  }
}
@media only screen and (min-width: 1024px) {
  .tijara_front_box li {
    width:35%;
  }
}
@media only screen and (min-width: 1200px) {
  .tijara_front_box li {
    width:31%;
  }
}


.category_button button {
  padding: 5px 10px !important;
  border: 0px solid #676767 !important;
  border-radius: 0px;
}
.category_button .active {
  border-bottom: 3px solid #05999F !important;
}
.tablink-active{
  border: 0px;
  border-bottom: 3px solid #05999F !important;
}
.category_button {
  border-bottom: 1px solid;
}

