/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */


/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700&display=swap');
 */

 /* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&display=swap'); */

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



*{
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
}
header{
    float: left;
    width: 100%;
    margin-bottom: 40px;
}
.de_col{
    color: #03989e;
}
.debg_color{
    background-color: #03989e;
}
.gray_color{
    background-color: #A0A0A0;
    color: #fff;
}
.bookingRequestCalender .fc-event, .fc-event-dot {
    background-color: #FFC0C7!important;
    border: #FFC0C7!important;
    color:#000 !important;
    padding: 9px !important;
    font-size: 15px !important;
    text-align: center !important;
}
.productErr{
  margin-top: 35px;
  margin-left: -675px;
}
.login_box{overflow: hidden;}
.res{position: relative;}
.producterrDiv{
margin-top: 15px;
}
.cmspageDiv{
  margin: 50px;
}
.bookingRequestCalender .fc-center h2{
  font-size: 17px !important
}

.buyer-product-price{
  margin-top:-15px;position:absolute;font-size:18px !important;
}
.buyer-button{
    margin-top: -6px;
}
.service_date_validation{
  text-align: center;margin-top: 140px;margin-left: 15px;
}
.btn:hover{color: #fff}

.service_validation_err{
  text-align: center;
  margin-top: 75px;
  margin-left: -630px;
}

.bold{
  font-weight: bold;
}
.order-product-title{
  font-size: 18px !important;font-weight: 500;margin-top: -45px;
}
.order-product-price{
  margin-bottom: 50px;margin-top: -35px;
}
.buyer-service-store{
    margin-top: -48px;
    font-size: 18px !important;
    font-weight: 500;
}
.package-body{
  min-height: auto;overflow: auto;padding: 25px;
}
.package_width{width: 70%; margin: 0 15%;}
#instafeed img.img-fluid {
    width: 100%;
    height: auto;
}
.buyer_profile_update_img{
  width:200px;height:200px;margin-top:10px;
}
.buyer_profile_update_btn{
  color:#fff !important;background-color: #03989e !important;font-weight: bold !important;
}
.page_heading{
  font-size: 40px !important;
  font-weight: bold !important;
}

.verify-store{
  margin-left: 385px;
  margin-top: 26px;
  padding: 9px 16px !important;
}
.store_eye_icon{
  margin-left: 950px;
  margin-top: 30px;
}

.service-add-steps{
  color: #bbb2b2;
  font-size: 33px;
}
.solid-horizontal-line{
  height: 1px;
  border: 1px solid #eee;
  width: 100%;
  background-color: #eee;
}
.footer-loader{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: #eceaea;
    background-image: url(https://dev.tijara.se/assets/front/img/ajax-loader.gif);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10000000;
    opacity: 0.4;
    filter: alpha(opacity=40);
    display: none;
}

.see-all-service-btn{
  font-weight: 500;
  color: #fff;
  margin-left: 745px;
  margin-bottom: 60px;
}
.modal-cross-sign{
  margin-top: -21px !important;
}
.contact-store-message {
    height: 105px;
    width: 370px;
}
span.subscribe_success {
    color: green;
    font-weight: bold;
    margin-left: 30px;
    font-size: 14px;
}
span.subscribe_err {
    color: red;
    font-weight: bold;
    margin-left: 30px;
    font-size: 14px;
}
.meta-data{
  margin-left: 15px;
  font-size: 13px!important;
  color: #675f5f;
}

.tijara-form input.form-control,
.tijara-form select.form-control,
.tijara-form .select2-container--default,
.tijara-form .select2-selection--multiple {
  border-radius: 5px !important;
  /* box-shadow: 0px 0px 0px 2px #ddd !important; */
  border: 1px solid #ddd !important;
  height: 45px !important;
  font-size: 14px !important;
}

.selected_images.col-md-6 {
    margin-top: 25px;
}

.selected_images.col-md-6 > div {
    margin-bottom: 10px;
}

.tijara-form input.select2-search__field {
    padding: 10px 12px !important;
	text-transform: capitalize !important;
}

.tijara-form textarea.form-control,
.tijara-form .richText {
  border-radius: 5px !important;
  box-shadow: 0px 0px 0px 2px #ddd !important;
  border: 1px solid #ddd !important;
  margin-bottom: 25px !important;
  font-size: 14px !important;
}

.tijara-form input:focus{
  border-bottom: 4px solid gray !important;
}

.add-varinat-btn .btn{
    font-size: 18px;
    padding: 5px 20px;
    color: #fff;
}

.tijara-content .btn {
    font-size: 18px;
    padding: 5px 20px;
    color: #fff;
}

/*store page policy section*/
.tablink{
    border: none;
    background: none;
    padding: 3px 20px;
    margin: 0px 20px;
  }
  .tablink-active{
    background-color: white;
    color: black;
    border: 2px solid #c1b8b8;
    border-radius: 6px;
  }
  .tabcontent{
    margin-left: 20px;
  }

  .ratingUserIcon{
    width:60px;height:60px;border-radius: 60px;
  }
  .ratingComment{
    margin-top: 25px !important;
  }
  .ratingUname{
    margin-top: 10px;margin-bottom: 1px;
  }
  .policies{
    margin-top: 20px;
  }
/*FAQ page css*/

/*butik logo slider*/

.slick-next:before,
.slick-prev:before{
  color: #03989e !important;
  font-size: 24px !important;
}

main {
  max-width: 800px;
  margin: 0 auto;
}
summary {
  font-size: 18px;
  font-weight: 600;
  background-color: #03989e;
  color: #fff;
  padding: 1rem;
  margin-bottom: 10px;
  outline: none;
  border-radius: 0.25rem;
  text-align: left;
  cursor: pointer;
  position: relative;
}

.active-faq, .accordion:hover {
  background-color: #03989e;
}

.panel-faq {
  padding: 0 18px;
  max-height: 0;
  margin-bottom: 10px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

 summary::after {
  position: absolute;
  content: "+";
  right: 20px;

}

summary.active::after {
  position: absolute;
  content: "-";
  right: 20px;
}
/*end FAQ page css*/
/*css for featured seller*/

.featured-seller{margin-top: 40px;}
.featured-seller h2 {
    font-size: 40px;
    font-weight: 600;
    color: #000;
    margin: 0;
    padding-bottom: 30px;
}
.feature_seller h3{font-size: 25px; font-weight: 600; padding-top: 10px;   white-space: nowrap; 
    width: 95%; 
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration:underline;
     }
.featured_seller_section {
    background: #fff;
    overflow: hidden;
    border-radius: 10px;
    height: 340px;
    text-align: center;
    position: relative;
    background-color: #ffffff!important;
    padding: 5px;
    float: left;
    width: 100%;
    display: flex;
    border-radius: 30px;
    border: 2px solid #ededed;
}

.featured_seller_container{width: 90%; margin: 0 auto;}

.featured_seller_section img.img-fluid {
    width: 100%;
    height: auto;
    justify-content: center;
    object-fit: contain;
}
/*end css for featured seller*/
/*css for seller registration*/
  * {
    margin: 0;
    padding: 0
}

html {
    height: 100%
}

/*category pages breadcrumb*/
  ul.breadcrumb-category {
  padding: 10px 16px;
  list-style: none;
}
ul.breadcrumb-category li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: ">\00a0";
}
ul.breadcrumb-category li a {
  text-decoration: none;
}
ul.breadcrumb-category li a {
  color: #000 !important;
}
ul.breadcrumb-category li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.activemainmenu > a {
    background: transparent;
    color: #000 ;
}


/*
#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;
    width: 94%;
    margin: 0 3% 20px 3%;
    position: relative
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}
*/
#msform fieldset:not(:first-of-type) {
    display: none
}
/*
#msform fieldset .form-card {
    text-align: left;
    color: #9E9E9E
}

#msform input,
#msform textarea {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border-bottom: 2px solid skyblue;
    outline-width: 0
}

#msform .action-button {
    width: 100px;
    background: skyblue;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
}
*/

select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px
}

select.list-dt:focus {
    border-bottom: 2px solid skyblue
}

.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #000000
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative; text-align: center;
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f023"
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f09d"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar li:before {
    width: 30px;
    height: 30px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: #fff;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
    border: 5px solid #ccc;
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 5px;
    background: lightgray;
    position: absolute;
    left: -49%;
    top: 13px;
    z-index: -1;
}
#progressbar li:first-child:after{
    content: '';
    width: 100%;
    height: 5px;
    background: none!important;
    position: absolute;
    left: 45%;
    top: 13px;
    z-index: -1;
}
/* #progressbar li:first-child.active:after {
    background: #d3d3d3;
} */
#progressbar li.active:after {
    background: #9c9c9c;
   
}
#progressbar li.active:before{
    background: #fff; border: 5px solid #9c9c9c;
}
.radio-group {
    position: relative;
    margin-bottom: 25px
}

.radio {
    display: inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    margin: 8px 2px
}

.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
}

.fit-image {
    width: 100%;
    object-fit: cover
}


.loader-seller {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: #eceaea;
    background-image: url(http://localhost:8000/assets/front/img/ajax-loader.gif);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10000000;
    opacity: 0.4;
}
/*end seller registration*/
/*seller store page css*/
 .store-active-btn{
    color: #000;
    font-size: 20px;
    border-right: 2px solid;
    margin-right: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .store-inactive-btn{
    color: #A0A0A0;
    font-size: 20px;
  }
/*end seller store page css*/
/*css for subheader menus*/
nav {    
  display: block;
  text-align: center;
}
nav ul {
  margin: 0;
  padding:0;
  list-style: none;
}
.nav a {
  display:block; 
  background: #fff; 
  color: #000; 
  text-decoration: none;
  padding: 0.8em 1.8em;
  /* text-transform: uppercase; */
  font-size: 100%;
  /* letter-spacing: 2px; */
  
  position: relative;
}
.nav{  
  vertical-align: top; 
  display: inline-block;
  border-radius:6px;
}
.nav li {
  position: relative;
}
.nav > li { 
  float: left; 
  /* border-bottom: 4px #aaa solid;  */
  margin-right: 1px;  width:16%;
} 
.nav > li > a { 
  margin-bottom: 1px;
}

.nav > li:first-child { 
  border-radius: 4px 0 0 4px;
} 
.nav > li:first-child > a { 
  border-radius: 4px 0 0 0;
}
.nav > li:last-child { 
  border-radius: 0 0 4px 0; 
  margin-right: 0;
} 
.nav > li:last-child > a { 
  border-radius: 0 4px 0 0;
}
.nav li li a { 
  margin-top: 1px;
}

.nav li a:first-child:nth-last-child(2):before { 
  content: ""; 
  position: absolute; 
  height: 0; 
  width: 0; 
  /* border: 5px solid transparent;  */
  right:5px;  
 }

 /* submenu positioning*/
.nav ul {
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  left: -99999em;top:35px;
}
.nav > li:hover > ul {
  left: auto;
  margin-top: 5px;
  min-width: 100%;
}
.nav > li li:hover > ul { 
  left: 100%;
  margin-left: 1px;
  top: -1px;
}
/* arrow hover styling */
.nav > li > a:first-child:nth-last-child(2):before { 
  border-top-color: #aaa; 
}
.nav > li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent; 
  margin-top:-5px
}
.nav li li > a:first-child:nth-last-child(2):before {  
  border-left-color: #aaa; 
  margin-top: -5px
}
.nav li li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent; 
  right: 10px; 
}
/*end css for subheader menus*/
 /*start css for buyer product grid*/
.buyer-price{
    font-weight: bold;color: #03989e;font-size: 20px;
  }

  .buyer-product-title{
    font-weight: bold;
    font-size: 20px;
  }
  .remove-btn-col{
    background-color: #ef5350;
  }
  .buyer-product-img{
    /*height:220px;
  width:100%;*/
    height: 250px;
    width: 250px;
    border: 2px solid #ccc;
  }
  .buyer-button a {
    margin: 8px auto;
    min-width: 180px;
    border-radius: 7px;
    color: #fff;
  }
  
  .buyer-product-title {
    min-height: 58px;
  }
  .product-card{
    margin-bottom: 70px;
  }

  .tijara-info-section{
     background-color: #a2dcde !important;
    padding: 30px;
    margin-bottom: 80px;
  }

  .form-group.col-md-6.buyer-productCat-select {
    margin-top: -86px;
}

span.remember-text {
    margin-left: 10px;
}
.sidebar_menu{width: 100%;}
  .buyer-prod-msg{
    background-color: #efefef;
    padding: 30px;
    margin-bottom: 80px; border-radius: 6px;
  }

  .buyer-prod-head{
    color: #fff ;
  }
  .buyer-prod-content{
    color: #fff;   
    font-size: 20px;
  }
  /*end css for buyer product grid*/
.top_line{height: 6px; width: 100%; float: left;background-color: #03989e; margin: 0;padding: 0;}
.top_login{    margin: 33px 0 0 0;
    padding: 0;
    position: relative;
    float: left;
    width: 100%;}

.top_login>.open>.dropdown-menu{
    padding: 7px;
}
.top_login>.open>.dropdown-menu::after{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    transform: rotate(45deg);
    right: 15px;
    top: -8px;
    border-top: 1px solid #dadada;
    background: #fff;
    border-left: 1px solid #dadada;
}
.top_login>.open>.dropdown-menu>li{padding: 5px; font-size: 14px;}
.top_login h3{ float: left; font-size: 16px; margin: 5px 0;padding: 0; font-weight:lighter;}
.buy_now_btn{color: #fff; font-size: 22px;border-radius: 20px; font-weight: 300; padding: 3px 26px;}
.slider_buy_btn{  color: #fff;
    font-size: 21px;
    border-radius: 30px;
    font-weight: 300;
    padding: 12px 28px;
    position: absolute;
    right: 0;
    top: 38vh;}
.cart_details{padding: 0 17px; position: relative;}
.header_left_container{width: 98%;}
.cart_icon{    font-size: 19px;
    margin: 4px;}
.cart_count{
    background-color: #03989e;  height: 16px; width: 16px;border-radius: 50%; color: #fff;position: absolute;
    top: -7px;
    right: 16px;
}
.cart_count span{font-size: 10px;text-align: center; color: #fff;    position: absolute;
    top: 2px;
    left: 5px;}
    .search_now_input_box{position: relative; float: left;width: 100%;}
    .search_icon_btn{border: none;background-color: transparent;       margin-left: -35px;
        margin-top: 10px;}
.search_now_input{border: 1px solid #03989e; border-radius: 25px; width: 100%!important; background: #e5e5e5; height: 40px; float: left;}
.hor_strip{
    height: 50px; float: left;
}
.gray_bg_color{
    background-color: #dbdbdb;
}
/* .containerfluid{margin-top: 71px;} */
.right-icons{list-style-type: none; }
.right-icons li{float: left; width: auto;}
.right-icons li i{font-size: 23px;}
/*
** Login and registration page
*/
	.login_container .left-section,
	.register_container	.left-section,
	.seller_register_container .left-section {
		padding: 0;
	}
	
	.login_container .right-section .form-section, 
	.register_container .right-section .form-section {
		padding-top: 10%;
	}
	
	
	.seller_register_container .seller_register_first #sellerRegisterForm,
    .seller_register_container .seller_register_third #third-step-form,
	.seller_register_container .seller_register_fourth  #seller-personal-form {
		margin: 0 auto;
		width: 51%;
		padding-top: 5%;
	}
		
	.login_banner,
	.register_banner{
		min-height: 800px;
		padding: 10% 10% 10% 14%;
		background-repeat: no-repeat !important;
		background-size: cover !important;
		background-position: 80% 10% !important;
	}
	
	.login_banner-header h1,
	.register_banner-header h1{
		color: #ffffff;
		font-size: 40px;
		font-weight: bold;
	}
	
	.login_banner-footer,
	.register_banner-footer{
		bottom: 50px;
		right: 50px;
		position: absolute;
	}
	
	.login_banner-footer h2,
	.register_banner-footer h2 {
		color: #ffffff;
		margin-right: 15px;
	}
	
	.right-section h2 {
		font-weight: bold;
		font-size: 30px;
		color: #000;
		margin-bottom: 40px;
	}
	
	#sign-in-form input.form-control,
	#sign-up-form input.form-control,
	#sellerRegisterForm input.form-control,
	#third-step-form input.form-control,
	#seller-personal-form input.form-control{
		border-radius: 5px;
		box-shadow: 0px 0px 0px 2px #ddd;
		border: 1px solid #ddd;
		height: 45px;
		font-size: 14px;
        margin: 15px 0 0 0;
	}
	
	#third-step-form input.form-control{
		margin-bottom: 25px;
	}
	
	#third-step-form textarea.form-control{
		border-radius: 5px;
		box-shadow: 0px 0px 0px 2px #ddd;
		border: 1px solid #ddd;
		margin-bottom: 25px;
		font-size: 14px;
	}

	#sign-in-form input:focus,
	#sign-up-form input:focus,
	#sellerRegisterForm input:focus,
	#third-step-form input:focus,
	#seller-personal-form input:focus{
		border-bottom: 4px solid gray;
	}
	
	#third-step-form textarea:focus {
		border-bottom: 4px solid gray;
	}
	
	.tijara-login-button button, 
	.tijara-signup-button a,
	.tijara-register-button button	{
		width: 100%;
		border-radius: 5px;
		color: #ffffff;
		font-weight: bold;
		padding: 10px;
		font-size: 18px;
		margin: 7px 0px;
	}
	
	.seller_register_container .seller_register_first input[type=button],
	.seller_register_container .seller_register_third input[type=button],
	.seller_register_container .seller_register_fourth input[type=button],
	.seller_register_container .seller_register_fourth input[type=submit]{
		margin: 10% 5% 2% 0;
		color: #FFFFFF;
		float: right;
		font-weight: bold;
		padding: 10px 40px;
		font-size: 18px;
	}
	
	.seller_register_container .seller_register_second input[type=button] {
		color: #FFFFFF;
		font-weight: bold;
		padding: 10px 40px;
		font-size: 18px;
	}
	
	.seller_register_container .seller_register_fourth input[type=button]{
		margin: 0;
	}
	
	.seller-link-section {
		margin-top: 15px;
	}
	
	.seller-link-section a,
	.remember-section a {
		color: #03989e;
		font-weight: 600;
	}
	
	
	#sign-up-form .remember-section,
	#seller-personal-form .remember-section {
		margin: 10px 0;
	}
	#progressbar>li>strong{font-size: 18px;}
	#sign-up-form .remember-section span.remember-text, 
	#seller-personal-form .remember-section span.remember-text {
		margin-left: 6px;
		font-weight: 600;
        font-size: 17px;
	}
	
	.seller_register_container .register_banner {
		min-height: 900px;
	}
	
	.seller_register_container .seller_register_second .packages-section {
		margin-bottom: 3%;
	}
		
	.seller_register_container .seller_register_second .packages-heading {
		border-radius: 10px;
		text-align: center;
		margin-bottom: 5%;
		padding: 10% 5%;
		color: #ffffff;
	}
	
	.seller_register_container .seller_register_second .packages-section:nth-child(odd) .packages-heading {
		background: #acdfab;
		border: 1px solid #acdfab;
	}
	.seller_register_container .seller_register_second .packages-section:nth-child(even) .packages-heading {
		background: #81cccf;
		border: 1px solid #81cccf;
	}
	
	.seller_register_container .seller_register_second .packages-price {
		font-size: 22px;
	}
	
	.seller_register_container .seller_register_second .packages-description {
		min-height: 70px;
	}
    .packages-heading h3{font-size: 35px; font-weight: bold;}

    .packages-description p{font-size: 20px; font-weight: 600; line-height: 30px; color: #737373;}
	.packages-description div ul{padding-left: 20px; min-height: 333px;}
    .packages-description div ul li{    font-size: 18px;
        font-weight: 600;
        line-height: 30px;
        color: #a0a0a0;}
	.seller_register_container .seller_register_second button{
		border-radius: 5px;
		color: #ffffff;
		font-weight: bold;
		padding: 10px;
		font-size: 18px;
		margin: 10px;
		margin-bottom: 2%;
	}
	
	.seller_register_container .seller_register_second input[type=button]:nth-child(odd) {
		float: right;
		margin-right: 4%;
	}
	.seller_register_container .seller_register_second input[type=button]:nth-child(even) {
		float: left;
		margin-left: 4%;
	}
	
.heading{font-weight: 600; font-size: 42px; padding-bottom: 30px;}
.heading_line{       margin: 0;
    background-color: #03989e;
    width: 8%;
    margin-left: 7px;
    height: 2px;
    margin-top: -7px;
    margin-bottom: 25px;
}
.login_heading_line{
    background-color: #03989e;
    width: 38px;
    margin-left: 36px;
    height: 2px;
    margin-top: -7px;
    margin-bottom: 25px;
}
.ft_top_container{width: 100%; float: left; background-color: #303030; padding: 10px 0;}
.client_logos, .social_icon, .ft_page_links{list-style: none; padding: 0;}
.client_logos li{ float: left; margin: 5px 16px;}
.ft_middle_container{float: left;width: 100%; background-color: #191919;padding: 35px 0 15px 0; }
.address_container p{color: #828282; font-size: 16px; line-height: 30px;}
.address_container p strong {color: #828282; font-size: 18px;}
.social_icon{padding-top: 40px;}
.footer_logo{margin-top: 25px;}
.social_icon li{float: left; margin: 2px 9px;}
.ft_page_links h3{color: #fff; /*padding-top: 55px;*/}
.ft_page_links li{list-style: none;    font-size: 15px;
    padding: 9px 0;}
.ft_page_links li a{ color: #828282; }
.ft_page_links p{color: #828282; line-height: 30px; font-size: 16px;}
.sub_box input{width: 60%; border: none; height: 36px; float: left; border-radius: 23px; padding:0 39px 0 14px;}
.sub_btn{color: #fff; background-color: #03989e;    border-radius: 23px;
    margin-left: -35px;
    height: 36px;
    padding: 0 12px;}
    .ft_copyright{width: 100%; float: left;padding: 8px 0; text-align: center;background-color: black;}
    .ft_copyright p{color: #fff; font-size: 14px;
        padding: 12px 0 0 0;
    }

.ft_payment_container{
  background-color: #191919;
}
.slider_cotnainer_section{ width: 100%; height: 70vh;   background-size: 100%;
overflow: hidden;}
.sale_section{
    margin-top: 50px;
    background-image: url(../img/sale_bg_img.png);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    width: 100%;
    height: 422px;
    background-size: 100%;
    overflow: hidden;
}
.carousel-item .img-fluid {
    width:100%;
    height:auto;
  }
  
  /* 
  anchors are inline so you need ot make them block to go full width
  */
  .carousel-item a {
    display: block;
    width:100%;
  }
  .login_banner {
    height: 100vh;
}
.seller_register_container .register_banner {
    min-height: 900px;
    height: 100vh;
}
#sliderImages{        height: auto;
    float: left;
    margin-right: 50px; width: 100%;}

.slider_item img{overflow: hidden;}
.slider_content{    padding-left: 60px;
    position: absolute;width: 92%;
     top:14vh}
.slider_content h3{color: black; font-size: 35px; margin: 0;}
.slider_content h2{font-size: 54px; font-weight: 600; color: #fff; line-height: 80px; padding-left: 15%;line-height: 49px ;
    padding-left: 10% ;}
.slider_content p{font-size: 20px;color: #151511; line-height: 30px;}
.slider_indicators{     position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
    top: 47%;
    margin-left: -32%;}
    .slider_indicators li {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin: 1px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #000;
        background-color: rgba(0,0,0);
        border: 1px solid #000;
        border-radius: 10px;
    }
    .slider_indicators .active{
        width: 20px;
        height: 20px;
        border: 1px solid #03989e;
        background-color: #03989e;
    }
    #seller_product_filter{border-radius: 20px;}
    /* .product_section{padding-top: 40px;} */
.category_list_box{width: 100%; }
.category_list_box h2{ padding-top: 30px;}
.category_list{list-style: none;background-color:#f8f8f8;}
.category_list li a{ font-size: 16px; padding: 12px 20px;}
.category_list li:hover{color: #fff;background: #03989e;cursor: pointer;}
.category_list li a:hover{text-decoration: none;color: #fff;background: #03989e; }
.category_list li a.active{color: #fff;background: #03989e;}
.category_list li a{font-size: 18px; color: #717171; font-weight: 300;display: block;}
.product_details{list-style: none;}
.product_details li{ float: left; display: block; cursor: pointer; height: 100%; position: relative;}
.seller_logo{    width: 100%;
    height: auto;
    display: flex;
    margin-right: 10px;
    float: left;}
.seller_logo img{width: 96%; height: auto;    display: flex;
    justify-content: center;
    object-fit: contain; }
.seller_info{float: left; padding-bottom: 5px;width: 100%;}
.seller_info h2{font-size: 28px; font-weight: 600;;}
.seller_info p{font-size: 22px;}
.store_info{font-size: 18px; line-height: 30px; padding: 10px 0; font-weight: normal;}
.tijara_front_container{margin: 0 auto; margin-right: 5px;}
.all_cat_label{font-size: 30px; padding: 20px 0 0 0;}
.tijara_front_read_more {
    text-align: center;
	margin: 30px 0;
}
.col_black{color: #000;}
.tijara_front_read_more a {
    background: #d2e8e9;
    padding: 5px 50px;
    border-radius: 25px;
    color: #03989e;
    font-size: 18px;
	font-weight: 600;
}
.store_eye_icon a{color: #000000;}
.visa_img{background-color: #03989e; height: 20px; width: 30px;   padding: 6px 9px 0; border-radius: 3px;}
.visa_img i{color: #fff; font-size: 21px;}
.tijara_front_read_more a:hover {
    background: #03989e;
    color: #d2e8e9;
}
.pos_none{position: relative!important;}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
.category_button button{padding: 5px 14px;
    font-size: 16px;
    background: transparent;
    border-radius: 3px;
    margin: 0 5px;
    border: 1px solid #676767;}
.product_info h5{font-size: 12px; color: #515151;  width: 95%; 
    overflow: hidden; white-space: nowrap; 
    text-overflow: ellipsis;}
.product_info h4{font-size: 14px;
    color: #515151;
    font-weight: 400;
    white-space: nowrap; 
    width: 95%; 
    overflow: hidden;margin: 0;
    text-overflow: ellipsis; padding-bottom: 5px;
}
.star-rating .br-widget{
    height: 15px!important;
    white-space: nowrap;
    margin-bottom: 5px;
}
.product_info h6{font-size: 16px; color: #515151; margin: 9px 0 0 0;
}
.product_img{position: relative;}
.product_img{position: relative;
    background-color: #ffffff!important;
    height: 300px;
    display: flex!important;
    vertical-align: middle;
    padding: 5px;
    overflow: hidden;
  justify-content: center;
      border: 5px solid #e5e5e5;
}
.dic_price{
    text-decoration: line-through; font-size: 16px; color: rgb(0, 145, 7);
}
.dic_percent{
 font-size: 16px; color: rgb(0, 145, 7);
}
.product_price{font-size: 20px; font-weight: bold;
    width: 99%;  white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;}
.product_img img{width: 100%;
    object-fit: contain;}
.buy_now_hover_details{position: absolute; top: 0px;  height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease; left: 0;
    background-color: rgba(0,0,0,0.1);}
    .buy_now_hover_details ul{padding-top: 104px;}
.buy_now_hover_details li{padding: 14%; width: 100%;}
.buy_now_hover_details li a {color: #fff; height: 40px;width: 40px;background: #03989e; text-align: center; padding: 15px; font-size: 16px; }
.two_icons li{padding: 14%; width: 46%; top:-73px}
.one_icon li{top: -22px;
    position: absolute;
    left: 50%;
    margin-left: -27px;
}
.mid-section{margin: 40px 0;}
.product_img:hover  .buy_now_hover_details{ opacity: 1;}
.packages-description{    max-height: 385px;
    overflow: auto;}
.card-header{margin: 25px 0;}
.a_btn, .login_btn {    text-decoration: none;
    font-size: 16px;
    color: #fff;
    padding: 6px 13px;
}
.product_info a{text-decoration: none;}
.subscribe-packages ul{padding: 20px;}


.product_img{text-align: center;background-color: #e5e5e5; display: block;}
.product_img:hover ~ .product_info h4{font-size: 22px; color: #03989e;; font-weight: bold; }
.product_info h4:hover{text-decoration: none; }
.sale_details{text-align: center; padding-top: 10%;}
.sale_details h2{font-size: 46px; font-weight: 600;}
.sale_details h2 span{color: white;}
.sale_details h3{font-size: 38px;color: white; font-weight: 500;}
.sale_details pre{font-size: 20px;color: white; font-weight: 400;}
.sale_btn{padding: 10px 32px; color: #fff; border: 1px solid #fff; border-radius: 30px;background: transparent; font-size: 25px; margin-top: 20px;}
.best_seller li{width: 23%;}
.best_seller_container{margin-top: 40px; float: left;width: 100%; padding-bottom: 40px;}
.best_seller_container h3{font-size: 20px; font-weight: 300; color: #515151;margin: 6px 0;}
.best_seller_container h2{font-size: 40px; font-weight: 600; color: #000;margin: 0;padding-bottom: 30px;}
.instagram_imgs{list-style: none;}
.instagram_imgs li{float: left;width: 20%;}
.steps_section{position: relative;    height: 300px;
    margin: 29px 0;}

.curve_img_1{position: absolute; top:0; left: 0px;}
.curve_img_2{position: absolute; right: 0;top: 0;}
.steps_box{list-style: none;}
.steps_box li{width: 33%;float: left;margin: 0 1px;}
.steps_details{text-align: center;    margin-left: 8px;}
.steps_details img{
    margin-top: 32px;
    width: 45px;
    margin-bottom: 4px;
}
.steps_details h3{font-size: 25px; color: #03989e;}
.steps_details p{font-size: 16px; color: #515151;width:66%;margin: 0 auto;
    height: 83px;
    overflow: hidden;
}
.artical_section{
    padding-top: 40px;background: #f3f3f3;width: 100%;float: left;padding-bottom: 25px;
}
.artical_section{position: relative;
    width: 100%;
    float: left;}
.artical_section img{width: 100%;}
.aritacl_details{    background: #fff;
    width: 90%;
    float: right;
    padding: 20px;
    position: relative;
    z-index: 4;
    margin-top: -43px;}
.aritacl_details h5{    font-size: 19px;
    font-weight: 300;
    color: #03989e;
    margin: 0 0 15px 0;}
.aritacl_details h4{font-size: 20px;font-weight: 500;color: #1a1c1c;}
.aritacl_details p{font-size: 15px;font-weight: 300;color: #1a1c1c;}
.learn_more{text-decoration:none; color: #fff; background: #03989e; padding: 10px 35px; font-size: 16px; text-align: center;margin-top: 15px;border-radius: 23px;}
.mb-10{margin:15px;     text-align: right;}




.selected_images>div{float:left; margin:10px}



#carousel-custom {
    margin-top:  10px;
    width: 100%;
}
#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}
#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 12px ;
    width: 20%;
    border:1px solid #dadada;
}
#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 1;
}
#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}
#carousel-custom .carousel-outer {
    position: relative;
}
.product_details_section{    padding-top: 35px;
    float: left;
    width: 100%; }


  .star-rating input {
    display:none;
  }

  .star-rating label {
    color:#ccc;
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 25px;
  }

  .star-rating :checked ~ label {
    color:#f90;
  }

  .star-rating label:hover,
  .star-rating label:hover ~ label {
    color:#fc0;
  }
  .product_details_info h2{
      font-size: 40px; font-weight: 600; position: relative;    padding-bottom: 15px;margin-top: 0; line-height: 55px;
  }
  .product_details_info h2:after{
    position: absolute;
    content: "";
    height: 3px;
    width: 126px;
    background-color: #03989e;
    left: 0px;
    top: 50px;line-height: 53px;
  }
  .product_details_info h3{
    font-size: 28px; font-weight: 600; color: #03989e;
}
.product_details_info p{
    font-size: 18px; font-weight: 300; color: #515151; line-height: 25px;
}
.select_product_color{list-style: none;width: 100%;margin-top: 8px;}
.select_product_color li{float: left;
    margin: 0px 6px;
    width: 7%;}
.select_product_color li span{height: 26px; width: 26px; border-radius: 50%; float: left;}
.color_1{background-color: red;}
.color_2{background-color: black;}
.color_3{background-color: blue;}
.color_4{background-color: green;}
.quantity_box{float: left; width: 100%;}
.quantity_box h3{float: left; font-size: 20px; color: #03989e; font-weight: 300; margin: 0; line-height: 40px;}

.drop_down_select{width: 50%; padding: 10px 15px 10px 15px; background-color: #fff; border: 1px solid #03989e; border-radius: 40px; float: right;}
.add_to_cart_btn{background-color: #03989e; padding: 10px 30px; color: #fff; font-size: 20px; border-radius: 28px;margin-top: 6px; font-weight: lighter;}
.marging_0{margin: 0;}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

  .uploadbtn {
    border: 1px solid #dadada;
    color: #515151;
    background-color: #f8f8f8;
    padding: 9px 19px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 300;
  }

  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;

  }
  .summary_page{    margin: 15px 0;
    float: left;
    width: 100%;}
.summary_page h3{margin: 0;}
.summary_page select{width: auto;
    margin-left: 13px;
    float: left;
    background: #ffbd59;
    font-weight: 600;
    color: #000;
    border: none;
    border-radius: 0;}

.pacakge_feature_list{
    min-height:49vh;overflow: auto;position:relative
}
.package_bt{position: absolute; bottom: 20px; left:22px;}
.pacakge_feature_list ul{    height: 365px;
    overflow: auto;}
/*  Tijara front */
.ptb-15{position: relative; margin: 16px 0;}
ul.tijara_front_box.row {
    width: 90%;
    margin: auto 5%;
    text-align: center;
}
.invalid-feedback{position: absolute;    padding-top: 4px;}

.tijara_front_box li {
    list-style: none;
    float: left;
   
    width: 31%;
    margin: 10px;
    padding: 20px 0;
}
.tijara_front_box li img{width: 42%; height: auto;}
.tijara_front_inner h4{     color: #03989e;
    text-align: left;
    line-height: 35px;
    font-size: 2.2em;
    padding: 0 23px;
}
/* .tijara_front_inner {width: 300px; height: 300px; } */
.product_data {
    height: 460px;
    overflow: hidden;
}
/* .tijara_front_box li{height: 300px;margin: 10px;} */
.colr-1{
    background-color: #d2e8ea;
}
.colr-2{
    background-color: #cee5d9;
}
.colr-3{
    background-color: #fde4d3;
}
#msform{padding: 20px 0;}
.p-0{padding: 0;}
.colr-box {padding: 20px;}
.tijara_front_box li h3{text-align: left; font-size: 24px; color: #737373;}



.seller_banner{    height: 60vh;
    object-fit: cover;}

.wid-20{float: left; width: 15%;}
.wid-85{width: 80%; float: left;}
.tj-navbar{box-shadow: none;border: none; background-image: none; float: left;width: 100%;}
.tj-logo img{padding: 0;  width: 100%; padding-left: 20px; padding-top: 25px; }
.mainMenu{padding-top: 40px; width: 100%;margin: 15px 0 0 0;}
.tj-topmenu{background-color: rgba(255, 255, 255, 0.9); float: left; width: 100%;}
.product_view{width: 90%; margin: 0 auto;}
.container-inner-section{width: 90%; margin: 0 auto;}
.mtb-20{margin: 20px 0;}
.m-0{margin: 0!important; position: relative; min-height: 0;}
.toggle_btn{      position: fixed;
    left: 93%;
    top: 106px;
    z-index: 1111;
    border: none;
    background: transparent;}
/*******************************/
/*        23-08-2021           */   
/*******************************/

span.pro-text {
    margin-left: 5px;
}

.buyer-prod-msg h2 {
    color: #000;
}

.alert.alert-danger {
    margin-top: 50px;
	margin-bottom: 0;
}

.pro-top-btn {
    margin-top: 25px;
}

.contact-info {
    margin-top: 0;
}

#seller-profile-form .card-header {
    margin-bottom: 0;
}
.seller_cat_list{margin: 0;}
.seller_cat_list li { list-style: none; }
.seller_cat_list li a{    border-bottom: 1px solid #303030;
    line-height: 45px;
    text-decoration: none;
    font-size: 22px;
    margin: 5px;
    float: left;
    width: 100%;
    color: #000;background: transparent;
}

.seller_cat_list>.activemaincategory, .seller_cat_list>.activesubcategory, .seller_cat_list>.activeservicemaincategory, .seller_cat_list>.activeservicesubcategory{
    background-color: transparent; color: #000; font-weight: 600;
}

.seller_cat_list>.activemaincategory>a, .seller_cat_list>.activesubcategory>a, .seller_cat_list>.activeservicemaincategory>a, .seller_cat_list>.activeservicesubcategory>a{
    background-color: transparent; color: #000; font-weight: 600;
}
.ratingUname, .ratingComment {
    font-size: 20px;
}
.sel_cat_list li a{
    border:none; padding-left: 15px;
}
.sel_cat_list h3, .sel_cat_list h2{    font-size: 26px;
    font-weight: 700;}
    .seller_info{border-left: 1px solid #dadada;border-top: 1px solid #dadada; }
    .seller_header{
        margin: 0;padding: 20px; background-color: #efefef;
    }
    .seller_mid_header{
        margin: 25px 0;

    }
    .seller_mid_cont{margin-left: 25px;}

    .ge_input{line-height:40px; border:1px solid #dadada; border-radius:3px;width:67%; height:40px}
    .fc-scroller > .fc-day-grid, .fc-scroller > .fc-time-grid{background-color: transparent!important;}
    .fc-basic-view th.fc-week-number, .fc-basic-view th.fc-day-number{
        padding: 20px 2px!important;;
    }
.fc-widget-content{border: none!important;}
  
        .fc-day-header{ padding: 20px 2px!important;;}
        .fc-basic-view th span{    line-height: 56px!important;
            font-size: 21px;
            color: #a7a7a7;
            font-weight: 400;}
        .fc-basic-view th{border: none !important;}
        .fc-head-container{    border: none!important;;
            border-top: 1px solid #dadada!important;;
            border-bottom: 1px solid #dadada!important;;}
            .fc-view-container{width: 94%; margin: 0 3%;}
            .fc-right{float: none!important;}
            .fc-prev-button{position: absolute!important;
                left: 8px;
                top: 94px!important;
                border: none!important;
                background: none!important;
                box-shadow: none!important;}

                .fc button .fc-icon {
                    position: relative;
                    top: -0.05em;
                    margin: 0 .2em;
                    vertical-align: middle;
                    font-size: 27px!important;;
                    color: #a7a7a7!important;;
                }
                .fc-next-button{
                    position: absolute!important;
                right: 8px;
                top: 94px!important;
                border: none!important;
                background: none!important;
                box-shadow: none!important;
                }

                .nav > li {
                    width: 14%;
                    font-size: 13px;
                  }
                  .mt-30{margin-top: 30px;}
                /* Responsive css */
                .toggle_btn{display: none;}
                .package_heading{}
                .package_heading{color: #fff!important;
                    text-align: center; font-weight: normal;
                    font-size: 30px;
                    line-height: 60px;
                    height: 80px; -webkit-border-top-left-radius: 30px;
                    -webkit-border-top-right-radius: 30px;
                    -moz-border-radius-topleft: 30px;
                    -moz-border-radius-topright: 30px;
                    border-top-left-radius: 30px;
                    border-top-right-radius: 30px;
                }

                    .package_footer{
                        height: 80px; -webkit-border-bottom-right-radius: 30px;
                        -webkit-border-bottom-left-radius: 30px;
                        -moz-border-radius-bottomright: 30px;
                        -moz-border-radius-bottomleft: 30px;
                        border-bottom-right-radius: 30px;
                        border-bottom-left-radius: 30px;
                    }
                    .tj-btn-sucess{border: none; padding: 5px 15px; color: #fff; font-size: 20px; background-color: #38aeb3; background-image: none;}
                    .tj-btn-sucess:hover{
                        border: none; padding: 5px 15px; color: #fff; font-size: 20px; background-color: #38aeb3; background-image: none;
                    }
                    .tj-btn-waring{border: none; padding: 5px 15px; color: #fff; font-size: 20px; background-color: #ffa873; background-image: none;}
                    .tj-btn-waring:hover{
                        border: none; padding: 5px 15px; color: #fff; font-size: 20px; background-color: #ffa873; background-image: none;
                    }
                    .package-pro{background-color: #81cccf!important; background-image: none!important;}
                    .package-basic{background-color: #bfecab!important; background-image: none!important;}


                    @media only screen and (min-device-width: 1024px) and (max-device-width: 1400px){

                    .package_width{width: 90%; margin: 0 5%;}
                    }
    @media only screen and (min-device-width: 320px) and (max-device-width: 640px){
        .toggle_btn{display: block;}
        .containerfluid{margin-top: 110px;}
        .nav > li {
            float: left;
            /* border-bottom: 4px #aaa solid; */
            margin-right: 1px;
            width: 100%;
            text-align: left;
        }
        .hor_strip {
            height: 50px;
            float: left;
            width: 50%;
        }
        header{
            float: left;
            width: 100%;
            margin-bottom: 150px;
        }
        .see-all-service-btn{margin-left: 0;;}
        .logo{height: 45px;}
        .client_logos li {
            float: none;
            margin: 9px 16px;
            text-align: center;
        }
        .search_now_input {
            border: 1px solid #03989e;
            border-radius: 15px;
            width: 100%!important;
            float: left;
        }
        .search_now_input_box {
            position: relative;
            width: 53%!important;
            float: left;
        }
    
        .cart_details {
            padding: 0px 15px;
            position: relative;
            margin: 0;float: left;
        }
        .header_left_container {
            padding-bottom: 12px;
            margin-top: 20px;
            float: left;
            width: 100%;
            margin: 20px 0 7px 0px;
        }
        .buy_now_btn {
            position: absolute;
            padding: 3px 19px;
            font-size: 17px;
        }
        .ft_page_links h3 {
            color: #fff;
            padding-top: 25px;
        }
        .curve_img_1, .curve_img_2{display: none;}
        .steps_box li {
            width: 100%;
            float: left;
            margin: 0 1px;
        }
        .best_seller li {
            width: 94%;
        }

        .instagram_imgs img{width: 100%;}
        .best_seller_container{padding: 15px;}
        .product_details li {
            width: 95%;

        }
        .product_img{position: relative;}
        .buy_now_hover_details{position: absolute; top: 0px;  height: 100%;
            width: 100%;
            opacity: 0;
            transition: .3s ease;
            background-color: rgba(0,0,0,0.1);}
            .buy_now_hover_details ul{padding-top: 104px;}
        .buy_now_hover_details li{padding: 20px; width: 20%;}
        .buy_now_hover_details li a {color: #fff; height: 40px;width: 40px;background: #5dc9ff; text-align: center; padding: 15px; font-size: 16px; }
        .product_img:hover  .buy_now_hover_details{ opacity: 1;}
        
        /* .slider_item img{display: none;} */
        .slider_cotnainer_section{ width: 100%; height: 43vh;   background-size: 100%;
            overflow: hidden;}
        .product_section>div>div{margin-top: 0!important;}
        /* .slider_content h2 {
            font-size: 42px;
            font-weight: 600;
        } */
        .heading {
            font-weight: 600;
            font-size: 32px;
            padding-bottom: 30px;
        }
        .slider_indicators {
            bottom: -39px;
            margin-left: -7pc;
        }
        .product_section {
            padding-top: 0px;
        }
       
        .sale_section {
            margin-top: 70px;
            background-image: url(../img/sale_bg_img.png);
            background-repeat: no-repeat;
            background-origin: content-box;
            background-position: center;
            width: 100%;
            height: 350px;
            background-size: cover;
            overflow: hidden;
        }
        .sale_details {
            text-align: center;
            padding: 11% 0;
        }
        .mid_banner{display: none;}
        .drop_down_select {
            width: 45%;
            padding: 6px 10px 4px 14px;
            background-color: #fff;
            border: 1px solid #03989e;
            border-radius: 27px;
            float: right;
        }
        .quantity_box h3 {
            float: left;
            font-size: 16px;
            color: #03989e;
            font-weight: 300;
            margin: 0;
            line-height: 40px;
        }
        .select_product_color li span {
            height: 16px;
            width: 16px;
            border-radius: 50%;
            float: left;
        }
        .select_product_color li {
            float: left;
            margin: 0px 6px;
            width: 6%;
        }
        .add_to_cart_btn {
            background-color: #03989e;
            padding: 5px 11px 11px;
            color: #fff;
            font-size: 16px;
            border-radius: 28px;
            margin-top: 6px;
            font-weight: lighter;
        }
        .product_details_info h2:after{display: none;}
        .product_details_info h2 {
            font-size: 30px;

        }
        .product_details_info h3 {
            font-size: 18px;

        }
        .star-rating label {

            font-size: 21px;
        }
        .star-rating {

            width: 4em;

        }
        .product_details_info p {
            font-size: 15px;
        }
		.seller_register_container .seller_register_first #sellerRegisterForm,
		.seller_register_container .seller_register_third #third-step-form,
		.seller_register_container .seller_register_fourth  #seller-personal-form {
			width: 100%;
		}
        .wid-20 {
            float: left;
            width: 98%;
            text-align: center;
            display: flex;
            justify-content: center;
        }
        .tj-logo img {
            padding: 0;
            width: 100%;
            padding-left: 0px;
            padding-top: 0px;
            text-align: center;
        }
        .wid-85 {
            width: 98%;
            float: left;
        }
        .top_login {
            margin: 10px 0 0 0;
            padding: 0;
            position: relative;
            float: left;
            width: 100%;
        }
        .search_icon_btn i {
            margin-top: 0px;
        }
        .right-icons {
            list-style-type: none;
            padding-left: 1px;
            float: right;
        }
        .mainMenu {
            padding-top: 7px;
            width: 100%;
            margin: 15px 0 0 0;
        }
        .slider_content h2 {
            line-height: 27px;
            padding-left: 0%;    font-size: 24px;
        }
        .slider_buy_btn {
            color: #fff;
            font-size: 15px;
            border-radius: 30px;
            font-weight: 300;
            padding: 8px 31px;
            position: absolute;
            right: 15px;
            top: 26vh;
        }
        .slider_indicators {
            position: absolute;
            bottom: 10px;
            left: 50%;
            z-index: 15;
            width: 60%;
            padding-left: 0;
            margin-left: -30%;
            text-align: center;
            list-style: none;
            top: 88%;
            margin-left: -32%;
        }
        .slider_content {
            padding-left: 60px;
            position: absolute;
            width: 92%;
            top: 0;
        }
        .nav > li {
            width: 100%;
            font-size: 13px;
        }
}
